[submodule "bully"]
	path = bully
	url = https://syalam@github.com/samsoffes/bully.git
[submodule "SocketRocket"]
	path = SocketRocket
	url = https://syalam@github.com/square/SocketRocket.git
[submodule "Vendor/Bully"]
	path = Vendor/Bully
	url = https://github.com/samsoffes/bully.git
